"<ion-view view-title="LionApp">
  <ion-content class="padding">


     <center><h2>La importancia del Agua</h2></center>
        <div class="container">
          <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <h3>Niños</h3>
                  <p>Aunque el agua es trascendental durante toda la vida, la infancia es una etapa particularmente sensible en cuanto a sus necesidades. </p>
                   </div>
                 <div class="col-md-3"><h3>Adolecentes</h3><p>Durante el crecimiento y la adolescencia el cuerpo sufre grandes cambios, al verse sometido a un constante requerimiento de energía.
                  </div>
              <div class="col-md-3"><h3>Adultos</h3><p>
              El agua, representa aproximadamente las dos terceras partes del peso corporal.
              </div>
         <div class="col-md-1"></div>
      </div></div>
      <div id="video"> <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KmQX_fR3NNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
      </div>

      <link rel="stylesheet" href="../css/adn.css">


     <center><h2>Videos de Biología</h2></center>

     <div id="video"> 
        <center>
          
        </center>
      </div>

      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/DqSrZaXVSx8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>


      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Qd5yA3UiQ2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>


      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/N2vbhD7Mjso" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>


      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wGbMLlZxX_o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>

      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/X4cC5T72rlA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>

      <div id="video"> 
        <center>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eFnO2xMmuYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
      </div>


<div class="container Adn">
    <div style="background: rgba(0,0,0,0.9);">
    <div id="stage">
      <div id="spinner" style="text-align: center; color: #fff;">
        <h1><span class="blue">1</span><span class="barra">___________ </span><span class="pink">1</span></h1>

        <h1><span class="blue">2</span><span class="barra">___________ </span><span class="pink">2</span></h1>

        <h1><span class="blue">3</span><span class="barra">___________ </span><span class="pink">3</span></h1>
        <h1><span class="blue">4</span><span class="barra">___________ </span><span class="pink">4</span></h1>

        <h1><span class="blue">4</span><span class="barra">___________ </span><span class="pink">5</span></h1>

        <h1><span class="blue">6</span><span class="barra">___________ </span><span class="pink">6</span></h1>
        <h1><span class="blue">7</span><span class="barra">___________ </span><span class="pink">7</span></h1>

        <h1><span class="blue">8</span><span class="barra">___________ </span><span class="pink">8</span></h1>

        <h1><span class="blue">9</span><span class="barra">___________ </span><span class="pink">9</span></h1>

      </div>
    </div>
    </div>
</div>

  </ion-content>
</ion-view>
