<ion-view view-title="Juego... Info...">
	<ion-content has-subheader="false" class="padding">
		
          <div class="todo">
    <div class="titulo"> 
      <p class="m">Game  </p>
    </div>
      <div class="contador">
      <p>Intentos</p>
        <p class="counter">0</p>
    </div>
    <div class="memoria">
      <div class="carta" id="1">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="2">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="3">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="4">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="5">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="6">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="7">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="8">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="9">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="10">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="11">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="12">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
    
      <div class="carta" id="13">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="14">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="15">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      <div class="carta" id="16">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="17">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
      
      <div class="carta" id="18">
        <div class="inner-wrap">
          <div class="frente"></div>
          <div class="atras"></div> 
        </div>
      </div>
  
    </div>
  </div>

   <center><h2>Infografia</h2></center>
        <div class="container">
          <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                          <h3>Reproduccion Sexual</h3>
                  <p>La reproducción sexual es aquella en la que intervienen células especializadas llamadas gametos, que se forman en órganos especiales denominados gónadas y cuya finalidad es formar una gran variedad de combinaciones genéticas en los nuevos organismos para mejorar las posibilidades de supervivencia.</p>
                   </div>
                 <div class="col-md-3">
                          <h3>Formacion de Gametos</h3>
                  <p>En la mujer, las gónadas son los ovarios. Las gónadas femeninas producen gametos femeninos (óvulos); las gónadas masculinas producen gametos masculinos (espermatozoides). Una vez que un óvulo es fertilizado por el espermatozoide, recibe el nombre de cigoto.
                  </div>
              <div class="col-md-3">
                         <h3>Sobre la meiosis</h3>
                <p>En meiosis I los cromosomas homólogos se reparten en dos células hijas, se produce el fenómeno de entrecruzamiento. En meiosis II al igual que en una mitosis, cada cromátida migra hacia un polo. El resultado son cuatro células hijas haploides (n).</p>
              </div>
         <div class="col-md-1"></div>
      </div>

      <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-3">
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/C%C3%ADrculo_sexual.svg/250px-C%C3%ADrculo_sexual.svg.png">
                   </div>
                 <div class="col-md-3">
                  <img src="http://4.bp.blogspot.com/-e5M4oIbqIYM/VOel4qO_5GI/AAAAAAAAANY/oOw1U4Lg4JQ/s1600/hormad1-468x468.jpg">
                  </div>
              <div class="col-md-3">
                <img src="https://content.gnoss.ws/imagenesEnlaces/c4/c4bb/c4bbde17-2c11-436c-97fe-8103dcb4c8a4/c4bbde17-2c11-436c-97fe-8103dcb4c8a4.jpg?1003">
              </div>
         <div class="col-md-1"></div>
      </div>

          <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                  
                    <h2>La reproducción sexual</h2>

                    <p>Características generales: <br>La reproducción sexual es aquella en la que intervienen células especializadas llamadas gametos, que se forman en órganos especiales denominados gónadas y cuya finalidad es formar una gran variedad de combinaciones genéticas en los nuevos organismos para mejorar las posibilidades de supervivencia.
                    <br><br>

                    El proceso clave de la reproducción sexual es la meiosis, un tipo especial de división que conduce a una célula normal con un número determinado de cromosomas (diploide) a otras con la mitad de los mismos (haploide), a la vez que se generan múltiples combinaciones de genes y de organismos.

                </div>
                <div class="col-md-4">
                  
                    <img src="http://100cia.site/media/k2/items/cache/e293e0749480c41a1cc8b9bbcd80f12b_M.jpg">

                </div>
         <div class="col-md-2"></div>
      </div>

             <div class="row">
                <div class="col-md-2"></div>
                 <div class="col-md-4">
                  
                    <img src="https://78.media.tumblr.com/ee3357e3a61bcf6cc5ccad178c7742ba/tumblr_inline_o2ykla4A3x1tm9bly_540.png">

                </div>
                <div class="col-md-4">
                  
                    <h2>Gameosis o formacion de gamentos</h2>
                    <p>La gametogénesis es el proceso de formación de gametos (células sexuales haploides) apartir de células germinativas (células diploides) mediante procesos meióticos que se llevan a cabo en las gónadas (testículos en los machos, ovarios en las hembras y ovotestes en los hermafroditas). la gametogénesis femenina u ovogénesis da lugar a la formación de óvulos. <br><br>
                    <br>→Espermatogenesis o formacion de espermatozoides
                    <br>♦Fase de proliferación o multiplicación
                    <br>♦Fase de crecimiento
                    <br>♦Fase de maduración
                    <br>♦Fase de espermiogénesis
                    <br>→Ovogenesis o formacion de ovulos
                    <br>♦Fase de proliferación o multiplicación
                    <br>♦Crecimiento
                    <br>♦Maduración
                    </p>

                </div>

         <div class="col-md-2"></div>
      </div>

    </div>

</ion-content>
</ion-view>
