<ion-view view-title="ADN 3D">
	<ion-content>
		<link rel="stylesheet" href="../css/adn.css">


		<div style="background: rgba(0,0,0,0.9);">
		<div id="stage">
		  <div id="spinner" style="text-align: center; color: #fff;">
		    <h1><span class="blue">1</span><span>___________ </span><span class="pink">1</span></h1>

		    <h1><span class="blue">2</span><span>___________ </span><span class="pink">2</span></h1>

		    <h1><span class="blue">3</span><span>___________ </span><span class="pink">3</span></h1>
		    <h1><span class="blue">4</span><span>___________ </span><span class="pink">4</span></h1>

		    <h1><span class="blue">4</span><span>___________ </span><span class="pink">5</span></h1>

		    <h1><span class="blue">6</span><span>___________ </span><span class="pink">6</span></h1>
		    <h1><span class="blue">7</span><span>___________ </span><span class="pink">7</span></h1>

		    <h1><span class="blue">8</span><span>___________ </span><span class="pink">8</span></h1>

		    <h1><span class="blue">9</span><span>___________ </span><span class="pink">9</span></h1>

		  </div>
		</div>
	</ion-content>
</ion-view>
