<ion-view view-title="Tabla Nutricional">
  <ion-content class="padding">

<link rel="stylesheet" href="../css/info.css">
  
    	<style>
#tabla {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 10px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color:#40E0D0;
  color: white;
}

h1 {
  color: #FFF;
}
</style>
<body>
  <table id="tabla">
  <tr>
    <th>Desayuno</th>
    <th>Refaccion</th>
    <th>Almuerzo</th>
    <th>Refaccion</th>
    <th>Cena</th>
  </tr>
  <tr>
    <td>Lacteos <br>→Leche<br>→Yogurt<br>→Queso</td>
    <td>Lácteos <br>→Aportan calcio</td>
    <td>→Puré de papa con pollo frito en agua,<br> sin aceite</td>
    <td>Manzana roja <br>→Vitamina E <br>→Pectina</td>
    <td>→Ensalada de atún</td>
  </tr>
  <tr>
    <td>Hidratos de carbono <br>→Pan <br>→Cereales (sin azucar)</td>
    <td>Frutas frescas <br>→vitaminas <br>→minerales <br>→fibra </td>
    <td>→Ensalada de atún y porción pequeña <br>de arroz, sin aceite.</td>
    <td>Uvas <br>→Vitamina C <br>→Vitamina K <br>→Vitamina B<br>→Vitamina E <br>→Vitamina A</td>
    <td>carnes blancas <br>→pollo con vegetales <br>→camarón</td>
  </tr>
  <tr>
    <td>Proteina <br>→huevos <br>→Jamon serrano <br> →Yogurt</td>
    <td>Frutas secas <br>no muy salados ni acaramelados<br>→proteínas <br>→fibra <br>→grasas buenas</td>
    <td>→Menestra de fréjol o lenteja y pescado <br>al vapor o asado.</td>
    <td>Pera <br>→Vitamina C <br>→Vitamina A <br>→Fosforo</td>
    <td>→pollo con vegetales </td>
  </tr>
  <tr>
    <td>Fruta <br>→La que este de temporada <br>y de tu gusto</td>
    <td>Huevos <br>→huevos duros<br>→huevitos de codorniz <br>→proteínas</td>
    <td>→Ensalada de fréjol, cebolla, aguacate <br>y huevo duro. </td>
    <td>Maní <br>→Potasio <br>→Magnesio <br>→Hierro</td>
    <td>→yogurt o leche</td>
  </tr>
  <tr>
    <td>Grasas Saludables <br>→Aguacate <br>→Frutos secos <br>→Salmon</td>
    <td>Los horneados <br>→La cancha serrana <br>→Los palitos de yuca</td>
    <td>→Legumbres cocidas</td>
    <td>Banano <br>→Hierro <br>→Potasio</td>
    <td>→té</td>
  </tr>
</table>

<div class="container vi">
    <center> <h1>Fecundacion</h1> 
    <div id="video"> <center>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/jtgjzLPJ9xs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
          </div>
    </center>
</div>



        <div class="container info">
              <center><h2>Leyes de Mendel</h2></center>

          <div class="row">
              <div class="col-md-4">
                  <h1>1ª LEY DE MENDEL: </h1>
                  <p>Ley de la uniformidad de los híbridos de la primera generación filial. Esta defiende que al cruzar una raza pura de una especie (AA) con otro individuo de raza pura de la misma especie (aa), la descendencia de la primera generación filial será fenotípicamente y genotípicamente igual entre sí (Aa) y fenotípicamente igual a uno de los miembros de la generación parental, en concreto, al portador del alelo dominante (A).</p>
              </div>
              <div class="col-md-4">
                  <h1>2ª LEY DE MENDEL:</h1>
                  <p>Ley de la segregación. Esta ley dicta que en la segunda generación filial, obtenida a partir del cruce de dos individuos de la primera generación filial, se recupera el genotipo y fenotipo del individuo recesivo de la primera generación parental (aa) en un 25%. Del 75% restante, fenotípicamente iguales, el 25% tiene el genotipo del otro parental inicial (AA) y el 50% restante se corresponde con el genotipo de la primera generación filial</p>
              </div>
              <div class="col-md-4">
                  <h1>3ª LEY DE MENDEL:</h1>
                  <p>Ley de la transmisión independiente o de la independencia de los caracteres. Durante la formación de los gametos, la segregación de los diferentes rasgos hereditarios se da de forma independiente unos de otros, por lo tanto, el patrón de herencia de uno de ellos no afectará al patrón de herencia del otro.</p>
              </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <img src="http://agrega.educacion.es/repositorio/25052014/b7/es_2014052512_9164021/mendel_1.jpg">
            </div>
            <div class="col-md-4">
                <img src="https://leyesdemendel.com/wp-content/imagenes/Ley-De-Mendel.png">
            </div>
            <div class="col-md-4">
                <p>
                  •Los caracteres hereditarios están controlados por factores que se encuentran a pares en cada organismo (organismos diploides).<br>
                  •Cada factor del par procede de cada uno de los progenitores del organismo. <br>
                  •En la formación de gametos, los factores emparejados se segregan al azar, de modo que cada gameto recibe uno u otro con igual probabilidad. <br> 
                  •Puede haber formas diferentes para cada factor. Cuando 2 variantes distintas responsables de un carácter, coexisten en un individuo, una puede dominar (conocida como alelo dominante) sobre la otra (conocida como alelo recesivo).
                  <br><br><br>
                  Los cromosomas son los portadores de los factores hereditarios y son la base del mecanismo mendeliano de la segregación y transmisión independiente.
                </p>
                
              </div>
          </div>

          <div class="row">
            <div class="col-md-7">
              <p>Las enfermedades monogénicas también reciben el nombre de enfermedades mendelianas ¡Y todo tiene una explicación!<br> Son conocidas con esta denotación porque siguen los patrones de herencia que  GREGOR MENDEL, reconocido como el<br> padre de la Genética, describió en 1866. Estos patrones de transmisión de la información hereditaria se rigen en base a tres<br> leyes fundamentales que postuló Mendel a partir de unos estudios que realizó con plantas de guisante, extrapolables al resto<br> de seres vivos</p>
            </div>
            <div class="col-md-5">
              <img src="https://www.saberespractico.com/wp-content/themes/imagination/Leyes%20de%20Mendel%20(primera%20ley).jpg">
            </div>
          </div>
       </div>

  



</body>
  </ion-content>
</ion-view>
