<ion-view view-title="Tabla Nutricional">
  <ion-content>
  
    	<style>{

    	}
		</style>
<body>
  <table id="tabla">
  <tr>
    <th>Desayuno</th>
    <th>Almuerzo</th>
    <th>Cena</th>
  </tr>
  <tr>
    <td>Lacteos <br>Leche<br>Yogurt<br>Queso</td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>Hidratos de carbono <br>Pan <br>Cereales (sin azucar)</td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>Proteina <br>huevos <br>Jamon serrano <br> Yogurt</td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>Fruta <br>La que este de temporada <br>y de tu gusto</td>
    <td> </td>
    <td> </td>
  </tr>
  <tr>
    <td>Grasas Saludables <br>Aguacate <br>Frutos secos <br>Salmon</td>
    <td> </td>
    <td> </td>
  </tr>
</table>
</body>
  </ion-content>
</ion-view>
